body {
    font-family: Arial, sans-serif;
    background-color: #3f3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(91, 92, 91);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.matrix-inputs, .vector-inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result, #process {
    margin-top: 20px;
    font-size: 18px;
}

#process {
    text-align: left;
    font-size: 14px;
}

/***********/

.contenedor {
    position: relative;
}

.animacion {
    width: 150px;
    height: auto;
    animation: rotar 10s linear infinite;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}